/*
Source - https://stackoverflow.com/a
Posted by rozsazoltan, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-10, License - CC BY-SA 4.0
*/

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

